// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atom-mock-jsonpath {
  height: 700px;
}

.message{
  height: 500px;
  width: 400px;
  background:green;
  position:absolute;

}
