// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atom-mock-jsonpath {
  height: 100%;
  width: 100%;
  background:white;
  position:absolute;
  top:0px;

}

.message{
  height: 90%;
  width: 100%;
  background:green;
  position:absolute;
  bottom: 0px;
}
